/* #money-value {
    border: 2px solid black;
}

#money-coefficient {
    border: 2px solid black;
} */
.reset {
    border: 2px solid black;
}

.warning {
    border: 2px solid red;
}

.warn {
    border: 2px solid green;
}